.section {
    opacity: 0; /* 처음에는 보이지 않음 */
    transform: translateY(50px); /* 아래에서 위로 이동 */
    transition: opacity 1.2s ease, transform 1.2s ease; /* 1.2초로 느리게 */
    padding: 5vw 5%;
    display: flex;
    flex-wrap: wrap; /* 좁은 화면에서 줄바꿈 */
    padding-left: 21%;
    align-items: center;
    justify-content: space-between;
    border-top: 80px solid #ffffff;
    border-bottom: 110px solid #ffffff;
  }
  
  .section.visible {
    opacity: 1; /* 요소가 보이도록 */
    transform: translateY(0); /* 원래 위치로 이동 */
  }
  
  .text {
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* 이미지 간 간격 */
  }
  
  .section-image {
    width: 160px;
    height: auto;
    object-fit: contain;
    margin-left: -16%; /* 텍스트와의 간격 조절 */
    margin-right: 16%;
  }
  
  .section-image3 {
    width: 360px; /* 이미지 크기 조절 */
    height: auto;
    object-fit: contain;
    margin-left: -36%; /* 텍스트와의 간격 조절 */
  }
  
  .section .text {
    max-width: 600px;
  }
  
  .section button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #00CA9A;
    color: white;
    border: none;
    cursor: pointer;
  }
  
/* 반응형 디자인 추가 */
/* 화면 크기가 1000px 이하일 때 (모바일 크기) */
@media screen and (max-width: 1000px) {
  .section {
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 섹션 내용을 가운데 정렬 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    padding-left: 10%; /* 양쪽 여백 줄이기 */
  }

  .section .text {
    margin-bottom: 20px; /* 아래 간격 */
    max-width: 100%; /* 텍스트가 섹션 너비에 맞게 조정 */
  }

  .image-container {
    width: 100%; /* 부모 컨테이너의 너비를 100%로 설정 */
    display: flex;
    max-width: none; /* 최대 너비 제한 해제 */
    justify-content: center;
  }
  
  .section-image3 {
    max-width: 600px; /* 최대 크기 제한 */
    height: auto; /* 비율 유지 */
    margin-left: 0; /* 여백 제거 */
  }
  
  .section-image {
    max-width: 400px; /* 최대 크기 제한 */
    height: auto; /* 비율 유지 */
    margin-left: 0; /* 여백 제거 */
    margin-right: 0; /* 여백 제거 */
  }  
  
}