.App {
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #00CA9A;
  z-index: 10;
  box-sizing: border-box;
}

.logo {
  height: 40px;
}

.download-button {
  padding: 10px 20px;
  background-color: white; 
  color: #00CA9A; 
  border: 2px solid #00CA9A; 
  border-radius: 8px; 
  cursor: pointer;
  font-weight: bold;
}

.download-button:hover {
  background-color: #f0f0f0; /* 호버 시 약간 어두운 배경색 */
}

.section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}

.section img {
  max-width: 200px;
  height: auto;
}

.section .text {
  max-width: 600px;
}

.section button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #00CA9A;
  color: white;
  border: none;
  cursor: pointer;
}

.uphighlight-section {
  background-color: #00CA9A; 
  color: white;
  text-align: left;
  padding: 20px 20px 40px 20px;
  margin: 0;
}

.uphighlight-section h2 {
  margin-bottom: 10px;
}

.uphighlight-section p {
  margin-bottom: 20px;
}

.uphighlight-section button {
  padding: 5px 10px;
  background-color: white;
  color: #00CA9A;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  padding: 20px;
  color: #333;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left p,
.footer-right p {
  margin: 0;
  padding: 2px 0;
}

.footer-right {
  border-left: 1px solid #333;
  padding-left: 100px;
}

.highlight-section {
  background-color: #00CA9A; 
  color: white;
  text-align: center;
  padding: 40px 20px;
  margin: 0;
}

.highlight-section h2 {
  margin-bottom: 10px;
}

.highlight-section p {
  margin-bottom: 20px;
}

.highlight-section button {
  padding: 5px 10px;
  background-color: white;
  color: #00CA9A;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
